h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 320px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

.offerings {
  width: 100%;
  background-image: url(../image/bcg/rectangle-mob.jpg);
  background-size: cover;
  margin: 0 auto;
  font-family: "Roboto";
  font-weight: 400;
  padding-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .offerings {
    background-image: url(../image/bcg/rectangle-tabl.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .offerings {
    background-image: url(../image/bcg/rectangle-desk.jpg);
    padding-bottom: 0;
  }
}
.offerings .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .offerings .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .offerings .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 99px;
    padding-bottom: 43px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.offerings__img {
  margin-top: 50px;
}
@media screen and (min-width: 1200px) {
  .offerings__img {
    margin-top: 70px;
  }
}
.offerings__apple--mobile {
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .offerings__apple--mobile {
    display: none;
  }
}
.offerings__apple--tabl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .offerings__apple--tabl {
    padding-top: 187px;
  }
}
@media screen and (min-width: 1200px) {
  .offerings__apple--tabl {
    display: none;
  }
}
.offerings__apple--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .offerings__apple--tablet {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .offerings__apple--tablet {
    display: none;
  }
}
.offerings__apple--desktop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .offerings__apple--desktop {
    display: block;
  }
}
.offerings__wrap {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .offerings__wrap {
    margin-right: 116px;
    max-width: 620px;
  }
}
@media screen and (min-width: 1200px) {
  .offerings__wrap {
    max-width: 573px;
    margin-top: 139px;
    margin-left: 90px;
    margin-right: 0;
  }
}
.offerings__title {
  max-width: 280px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: #2C2C2C;
  margin-top: 60px;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .offerings__title {
    max-width: 526px;
    font-size: 42px;
    line-height: 1.16;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .offerings__title {
    line-height: 1.2;
  }
}
.offerings__text {
  max-width: 272px;
  font-size: 14px;
  line-height: 1.14;
  color: #2C2C2C;
}
@media screen and (min-width: 768px) {
  .offerings__text {
    max-width: 500px;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .offerings__text {
    line-height: 1.5;
  }
}
.offerings__list {
  list-style: none;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .offerings__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .offerings__list {
    list-style: none;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .offerings__item {
    margin-right: 0;
  }
}
.offerings__icon {
  max-width: 48px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .offerings__icon {
    margin-top: 0;
  }
}
.offerings__pretitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #2C2C2C;
  margin-top: 8px;
  margin-bottom: 16px;
}
.offerings__pretext {
  max-width: 252px;
  font-size: 14px;
  line-height: 1.5;
  color: #2C2C2C;
}
@media screen and (min-width: 768px) {
  .offerings__pretext {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .offerings__pretext {
    margin-right: 0;
    max-width: 253px;
  }
}
.offerings__btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2C2C2C;
  padding: 10px 22px;
  background: #FFFFFF;
  border: 2px solid #7EB101;
  border-radius: 30px;
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .offerings__btn {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .offerings__btn {
    margin-top: 32px;
  }
}
.offerings__button {
  position: relative;
  width: 83px;
  font-size: 13px;
  line-height: 1.5;
  color: #000000;
  padding: 7px 17px 7px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: #FFE550;
  margin-left: 24px;
}
@media screen and (min-width: 1200px) {
  .offerings__button {
    display: none;
  }
}
.offerings__vector {
  position: absolute;
}/*# sourceMappingURL=main.css.map */