.offerings {
    width: 100%;
    background-image: url(/image/bcg/rectangle-mob.jpg);
    background-size: cover;
    margin: 0 auto;
    font-family: 'Roboto';
    font-weight: 400;
    padding-bottom: 100px;

    @include table {
        background-image: url(/image/bcg/rectangle-tabl.jpg);
    }

    @include desktop {
        background-image: url(/image/bcg/rectangle-desk.jpg);
        padding-bottom: 0;
    }



    & .container {
        // display: flex;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        

        @include table {
            padding-left: 32px;
            padding-right: 32px;
        }
        
        @include desktop {
            display: flex;
            padding-top: 99px;
            padding-bottom: 43px;
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    &__img {
        margin-top: 50px;


        @include desktop {
            margin-top: 70px;
        }
        
    }

    &__apple--mobile {
        // display: none;
        display: block;
        width: 100%;

        @include table {
            display: none;
        }
    }

    &__apple--tabl{
        display: flex;
        justify-content: space-around;
        align-items: center;
        // padding-top: 100px;

        @include table {
            padding-top: 187px;
        }

        @include desktop {
            display: none;
        }
    }

    &__apple--tablet {
        display: none;

        @include table {
            display: block;
            
        }

        @include desktop {
            display: none;
        }
    }

    &__apple--desktop {
        display: none;

        @include desktop {
            display: block;
        }
    }

    &__wrap {
        width: 100%;

        @include table {
            margin-right: 116px;
            max-width: 620px;
        }
        
        @include desktop {
            max-width: 573px;
            margin-top: 139px;
            margin-left: 90px;
            margin-right: 0;
        }
    }

    &__title {
        max-width: 280px;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        color: #2C2C2C;
        margin-top: 60px;
        margin-bottom: 28px;

        @include table {
            max-width: 526px;
            font-size: 42px;
            line-height: 1.16;
            margin-bottom: 20px;
        }

        @include desktop {
            line-height: 1.2;  
        }
    }

    &__text {
        max-width: 272px;
        font-size: 14px;
        line-height: 1.14;
        color: #2C2C2C;

        @include table {
            max-width: 500px;
            font-size: 16px;
            line-height: 1.18;
            margin-bottom: 40px;
        }

        @include desktop {
            line-height: 1.5;
        }
    }

    &__list {
        list-style: none;
        padding: 0;

        @include table {
            display: flex;
            justify-content: space-between;
        }

        @include desktop {
            list-style: none;
            padding: 0;
        }
    }


    &__item {
        
        @include table {
            // margin-right: 116px;
        }

        @include desktop {
            margin-right: 0;
        }
    }

    &__icon {
        max-width: 48px;
        border-radius: 50%;
        background-color: #fff;
        margin-top: 28px; 
        
        @include table {
            margin-top: 0;
        }
    }

    &__pretitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.4;
        color: #2C2C2C;
        margin-top: 8px;
        margin-bottom: 16px;
    }

    &__pretext {
        max-width: 252px;
        font-size: 14px;
        line-height: 1.5;
        color: #2C2C2C;

        @include table {
            margin: 0;
        }

        @include desktop {
            margin-right: 0;
            max-width: 253px;
        }
    }

    &__btn {
        font-weight: 500;
        font-size: 13px;
        line-height: 1.5;
        text-align: right;
        color: #2C2C2C;
        padding: 10px 22px;
        background: #FFFFFF;
        border: 2px solid #7EB101;
        border-radius: 30px;
        margin-top: 28px;

        @include table {
            margin-top: 40px;
        }

        @include desktop {
            margin-top: 32px;
        }
    }

    &__button {
        position: relative;
        width: 83px;
        font-size: 13px;
        line-height: 1.5;
        color: #000000;  
        padding: 7px 17px 7px 0; 
        justify-content: center;
        border: none;
        background: #FFE550;
        margin-left: 24px;

        @include desktop {
            display: none;
        }
    }

    &__vector {
        position: absolute;
    }
}

.tabl-2 {
    margin-top: 40px;
}

.tabl-3 {
    margin-top: 106px;
}